[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/DidYouMean"]
	path = bundle/DidYouMean
	url = https://github.com/EinfachToll/DidYouMean
[submodule "bundle/switch.vim"]
	path = bundle/switch.vim
	url = https://github.com/AndrewRadev/switch.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "bundle/vim-randomtag"]
	path = bundle/vim-randomtag
	url = https://github.com/mhinz/vim-randomtag
[submodule "bundle/quick-scope"]
	path = bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "bundle/vim-contextcomplete"]
	path = bundle/vim-contextcomplete
	url = https://github.com/4Evergreen4/vim-contextcomplete
[submodule "bundle/vim-showspaces"]
	path = bundle/vim-showspaces
	url = https://github.com/guiniol/vim-showspaces
[submodule "bundle/patchreview-vim"]
	path = bundle/patchreview-vim
	url = https://github.com/junkblocker/patchreview-vim
