sessions/vim_auto_saved_session
sessions/user_auto_saved_session
tags/last_project_tags
tags/dtv_project_tags
bundle/Omnisharp/server/Microsoft.Build.Evaluation/bin/
bundle/Omnisharp/server/OmniSharp.Tests/bin/
bundle/Omnisharp/server/OmniSharp/bin/Debug/
bundle/Omnisharp/server/OmniSharp.Tests/obj
bundle/Omnisharp/server/OmniSharp.Tests/obj
bundle/Omnisharp/server/OmniSharp/obj
.netrwhist
cscope_databases/dtv_project_cscope
cscope_databases/last_project_cscope
yankring_history_v2.txt
syntax/dtv_logs_highlights.vim
*/*.pyc
bundle/VimPdb/plugin/VimPdb.pyc
cscope_databases/gstreamer_cscope
tags/gstreamer_tags
