sessions/vim_auto_saved_session
sessions/user_auto_saved_session
tags/last_project_tags
tags/direcTV_project
bundle/Omnisharp/server/Microsoft.Build.Evaluation/bin/
bundle/Omnisharp/server/OmniSharp.Tests/bin/
bundle/Omnisharp/server/OmniSharp/bin/Debug/
bundle/Omnisharp/server/OmniSharp.Tests/obj
bundle/Omnisharp/server/OmniSharp.Tests/obj
bundle/Omnisharp/server/OmniSharp/obj
.netrwhist
